header, footer {
background-color: blue;
color: white;
padding: 1rem;
border: 1rem solid
}

header, main, footer {
    max-width: 750px;
    padding: 1rem;
    font-family:'Source Serif Pro', serif;
}

header img {
    width: 200px;
    height: auto;
}

a {
    color: black;
}

li, p {
    font-family: 'Martel', serif;
}