@media (min-width: 500px) {

    h2 {
        font-size: 2rem;
    }

    .artp {
        font-size: large;
    }

    .hover {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hover:hover {
        box-shadow: 0 0 50px black;
    }

    .galtab {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}